<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix visible hidden-xs"><span>SMS</span>Admin</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>


  <div class="user-profile clearfix">

    <ul class="al-msg-center clearfix">
      <li>
        <a href ng-click="refreshBalance()">
      <i class="fa fa-database"></i> {{globals.currentUser.balance}}
      <div class="notification-ring"></div></a>
      </li>
      <li><a href class="signout" ng-click="logout()"><i class="fa fa-power-off"></i> Sign out</a></li>
      </ul>
  </div>
</div>