<div ba-panel
     ba-panel-title="Add new Branch"
     ba-panel-class="panel-default">
    <form name="gm.groupCreationForm" class="form-inline" ng-submit="addNewGroup(gm.groupCreationForm.$valid)" novalidate >
        <div class="form-group"
             ng-class="{'has-error': gm.newGrpName.$invalid && (gm.newGrpName.$dirty || gm.groupCreationForm.$submitted)}">
            <label class="sr-only" for="groupName">Branch Name</label>
            <input class="form-control" id="groupName" name="grpName" placeholder="Enter Branch Name" ng-model="gm.newGrpName" required>
            <span class="help-block error-block basic-block">Required</span>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <div class="clear"></div>
</div>
<div ba-panel
     ba-panel-title="Branches"
     ba-panel-class="panel-default">

    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td></td>
            <td>Branch Name</td>
            <td>Actions</td>
        </tr>
        <tr ng-repeat="grp in groupArr" class="editable-row">
            <td>
                {{$index + 1}}
            </td>
            <td>
        <span>
          {{grp.name | removeVendorPrefix}}
        </span> <span class="badge" ng-bind="grp.count"></span>
            </td>
            <td>
                <div class="buttons">
                    <button class="btn btn-primary btn-xs" confirm="Are you sure, you want to delete '{{grp.name | removeVendorPrefix}}'?" ng-click="deleteGroup($index)">Delete</button>
                    <button class="btn btn-primary btn-xs" ng-click="sendGroupSMS($index)">Common SMS</button>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" ng-click="manageContacts($index)">Students List</button>
                </div>
            </td>
        </tr>
    </table>
    </div>

