@import "common.scss";
@import 'theme/buttons.scss';
@import 'app/form.scss';



$text-color: #ffffff;
.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10%;

  .form-control, .form-control:focus {
    @include placeholderStyle($text-color, 0.9);
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    color: $text-color;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    @include placeholderStyle($text-color, 0.6);
  }
  .auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    @include bg-translucent-dark(0.55);
    color: #fff;
    padding: 32px;
    h1 {
      font-weight: $font-light;
      margin-bottom: 28px;
      text-align: center;
    }
    p {
      font-size: 16px;
    }
    a {
      text-decoration: none;
      outline: none;
      transition: all 0.2s ease;
      color: $primary;
      &:hover {
        color: $primary-dark;
      }
    }

    .control-label {
      padding-top: 11px;
      color: $text-color;
    }

    .form-group {
      margin-bottom: 12px;
    }
  }

  .auth-input {
    width: 300px;
    margin-bottom: 24px;
    input {
      display: block;
      width: 100%;
      border: none;
      font-size: 16px;
      padding: 4px 10px;
      outline: none;
    }
  }



  .auth-link {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 33px;
  }

  .auth-sep {
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
    & > span {
      display: table-cell;
      width: 30%;
      white-space: nowrap;
      padding: 0 24px;
      color: $text-color;
      & > span {
        margin-top: -12px;
        display: block;
      }
    }
    &:before, &:after {
      border-top: solid 1px $text-color;
      content: "";
      height: 1px;
      width: 35%;
      display: table-cell;
    }
  }



  .btn-auth {
    color: #ffffff!important;
  }
}

