<main class="auth-main">
  <div class="auth-block">
    <h1>Login to SMSAdmin</h1>


    <form class="form-horizontal" ng-submit="login()" >
      <div class="form-group">
        <label for="inputUser3" class="col-sm-2 control-label">Username</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputUser3"  ng-model="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3"  ng-model="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default btn-auth">Sign in</button>
        </div>
      </div>
    </form>

  </div>
</main>
