<div ba-panel
     ba-panel-class="tabs-panel medium-panel with-scroll">
    <uib-tabset class="tabs-left">
        <uib-tab heading="Add Branch">
            <p>
                Click on "Send Results" Menu
            </p>
            <div class="danger"><img ng-src="{{::( 'addGroup' | helpImg )}}"></div>
            <p>
               Within <i>"Add New Branch"</i> section assign a name in the <i>Brand Name</i> input field and then click on <b>"Add"</b>.
            <br><br><small>You should see your newly added branch in the <i>"Branches"</i> table below on the same page</small>.</p>
        </uib-tab>
        <uib-tab heading="Add Student">
            <p>
                Click on "Send Results" Menu
            </p>
            <div class="danger"><img ng-src="{{::( 'grpList' | helpImg )}}"></div>
            <p>
                Click on <b>"Students List"</b> button for any of the branch listed in the <i>"Branches"</i> table.<br></p><br>
            <div class="danger"><img ng-src="{{::( 'addStudent' | helpImg )}}"></div>
            <p>
                Within <i>"Add New Student"</i> section enter <i>name</i>, <i>number</i> and <i>marks</i> input fields and then click on <b>"Add"</b>.
                <br><br><small>You should see your newly added student info in the <i>"Students"</i> table below on the same page</small>.
            </p>
        </uib-tab>
        <uib-tab heading="Edit Student">
            <p>
                Click on "Send Results" Menu<br>
                Click on <b>"Students List"</b> button for any of the branch listed in the <i>"Branches"</i> table.
            </p>
            <br>
            <div class="danger"><img ng-src="{{::( 'editStudent' | helpImg )}}"></div>
            <p>
                Click on <b>"Edit"</b> button for any of the student listed in the <i>"Students"</i> table.<br>
                Once changes are done click on <b>"Save"</b> button to submit the changes.
            </p>
            <p>
                <small>Click on <b>"Delete"</b> button to remove a student from the branch.<br>
                </small>
            </p>
        </uib-tab>
        <uib-tab heading="Send Results">
            <p>
                Click on "Send Results" Menu<br>
                Click on <b>"Students List"</b> button for any of the branch listed in the <i>"Branches"</i> table.
            </p>
            <div class="danger"><img ng-src="{{::( 'sendResult' | helpImg )}}"></div>
            <p>
                Either click on <b>"Send Marks"</b> button to send marks to <b>individual</b> student listed in the <i>"Students"</i> table.<br>
                OR <br>
                Click on <b>"Send To All"</b> button to send marks to <b>all</b> students listed in the <i>"Students"</i> table.<br>
            </p>
            <p>
                <small><i>Message Header</i> template can be used to add text before marks<br>
                    <i>Message Footer</i> template can be used to add text after marks<br>
                </small>
            </p>
        </uib-tab>
        <uib-tab heading="Common SMS">
            <p>
                Click on "Send Common SMS" Menu<br>
            </p>
            <div class="danger"><img ng-src="{{::( 'commonSms' | helpImg )}}"></div>
            <p>
               Enter single or multiple mobile numbers (comma seperated). <br>
                Enter message then click on <b>Send</b> button
            </p>
            OR
            <div class="danger"><img ng-src="{{::( 'commonSmsSC' | helpImg )}}"></div>
            <p>
                <small>Within branch table use <b>"Common SMS"</b> button to directly go to the SMS panel which all ready have all the numbers from the 'X' branch
                </small>
            </p>
        </uib-tab>

        <uib-tab heading="Delivery Report">
            <p>
                Click on "Delivery Report" Menu<br>
                You will see the number, date and status for each <b>valid</b> message
                <br><br>
                Invalid messages will not be shown in report
            </p>
            <small>Note: Balances are updated once delivery report is shown here</small>
        </uib-tab>
        <uib-tab heading="Balance">
            <p>
                Click on the balance on top right corner of the page to get the latest balance<br>

            <div class="danger"><img ng-src="{{::( 'balance' | helpImg )}}"></div>
            </p>

        </uib-tab>
    </uib-tabset>
</div>