<div class="modal-content overlay-wrapper">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title">Students List for <span ng-bind="groupInfo.name | removeVendorPrefix"></span></h4>
    </div>
    <div class="modal-body">
        <div ba-panel
             ba-panel-title="Add New Student"
             ba-panel-class="panel-default">
        <form name="cm.contactCreationForm" class="form-inline" ng-submit="addNewContact(cm.contactCreationForm.$valid)" novalidate >
            <div class="form-group"
                 ng-class="{'has-error': cm.newCNumber.$invalid && (cm.newCNumber.$dirty || cm.contactCreationForm.$submitted)}">
                <label class="sr-only" for="number">Contact Number</label>
                <input class="form-control" id="number" name="number" placeholder="Enter Contact Number" ng-model="cm.newCNumber" required>
                <span class="help-block error-block basic-block">Required</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': cm.newCName.$invalid && (cm.newCName.$dirty || cm.contactCreationForm.$submitted)}">
                <label class="sr-only" for="name">Name</label>
                <input class="form-control" id="name" name="name" placeholder="Enter Contact Name" ng-model="cm.newCName" required>
                <span class="help-block error-block basic-block">Required</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': cm.newCResult.$invalid && (cm.newCResult.$dirty || cm.contactCreationForm.$submitted)}">
                <label class="sr-only" for="result">Contact Number</label>
                <textarea class="form-control" id="result" name="result" placeholder="Enter Marks" ng-model="cm.newCResult" required></textarea>
                <span class="help-block error-block basic-block">Required</span>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <div class="clear"></div>
            </div>
        <form class="form-inline" >
            <div class="form-group">
               <label for="header">Message Header</label>
               <input class="form-control" id="header" name="header" placeholder="No header" ng-model="cm.header" required>
            </div>
            <div class="form-group">
                <label for="footer">Message Footer</label>
                <input class="form-control" id="footer" name="footer" placeholder="No footer" ng-model="cm.footer" required>
            </div>
            </form>
        <br>
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <td></td>
                <td>Contact Number</td>
                <td>Name</td>
                <td>Marks</td>
                <td>Actions</td>
            </tr>
            <tr ng-repeat="c in contactList | filter:propertyFilter" class="editable-row">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    <span ng-bind="c.number">
                    </span>
                </td>
                <td>
                    <span ng-bind="c.name" editable-text="c.name" e-name="name" e-form="rowform" e-required>
                    </span>
                </td>
                <td>
                    <span  editable-textarea="c.marks" e-name="marks" e-form="rowform" e-required class="stud-marks">
                        <pre>{{c.marks}}</pre>
                    </span>
                </td>
                <td>
                    <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                          shown="inserted == c" onaftersave="saveContact($index)">
                        <button type="submit" ng-disabled="rowform.$waiting"  class="btn btn-primary editable-table-button btn-xs">
                            Save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                            Cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()" >Edit</button>
                        <button class="btn btn-primary btn-xs" confirm="Are you sure, you want to delete '{{c.name}}'?" ng-click="deleteContact($index)">Delete</button>
                        <button class="btn btn-danger btn-xs" ng-click="sendSingleMarks($index)">Send Marks</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Close</button>
        <button type="button" class="btn btn-danger" ng-click="sendResults()">Send To All</button>
    </div>
    <div class="overlay" ng-show="msgQueue.sending">
        <div class="overlay-text">
        <i class="fa fa-refresh fa-spin"></i><br>
        <p>Sending Messages..<br>
        {{msgQueue.currentMsg}} / {{contactList.length}}</p></div>
    </div>
</div>
