
<div ba-panel
     ba-panel-class="panel-default">
    <div><strong>Filter By:</strong> <input type="text" ng-model="search" placeholder="search criteria" /> Count: {{filtered.length}}</div> <br>
    <table class="table table-bordered table-hover table-condensed" st-table="editableTableData">
        <tr>
            <th class="table-id"></th>
            <th  st-sort="receiver" >Receiver</th>
            <th  st-sort="date" st-sort-default="true">Date</th>
            <th st-sort="description">Status</th>
        </tr>
        <tr ng-repeat="rpt in reportArr | filter:search  as filtered">
            <td  class="table-id">
                {{$index + 1}}
            </td>
            <td>
        <span ng-bind="rpt.receiver">
        </span>
            </td>
            <td>
<span ng-bind="rpt.date">
        </span>
            </td>
            <td>
<span ng-bind="rpt.description">
        </span>
            </td>
        </tr>

    </table>
</div>

