<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Group Common SMS"
       ba-panel-class="">
      <form name="vm.transactionalForm" ng-submit="sendTransactionalMessage(vm.transactionalForm.$valid)" novalidate >
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group has-feedback"
                       ng-class="{'has-error': vm.transactionalForm.mobilenos.$invalid && (vm.transactionalForm.mobilenos.$dirty || vm.transactionalForm.$submitted)}">
                      <label for="mobileNumbers">Mobile Numbers</label>
                      <textarea class="form-control" id="mobileNumbers" name="mobilenos" placeholder="Enter mobile numbers here" ng-model="vm.transactionalInfo.mobilenos" required></textarea>
                      <span class="help-block error-block basic-block">Required</span>
                  </div>
                  <div class="form-group" ng-class="{'has-error': vm.transactionalForm.message.$invalid && (vm.transactionalForm.message.$dirty || vm.transactionalForm.$submitted)}">
                      <label for="messageArea">Message</label>
                      <textarea class="form-control" id="messageArea" name="message" placeholder="Type your message" ng-model="vm.transactionalInfo.message" required></textarea>
                      <span class="help-block error-block basic-block">Required</span>
                  </div>
                  <div class="form-group">
                  <button type="submit" class="btn btn-danger" >Send Now!</button>
                  </div>
              </div>
          </div>
      </form>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">

      <h3>For multiple numbers, use comma separated values, e.g. 9133229999, 9847373777 </h3>
    <p class="lead">Note: This bulk sms panel is only for NON-PROMOTIONAL SMS (Information, Notifications, etc.).
        <br> <br>
        For PROMOTIONAL bulk sms, please login into <a href="http://text.theuniquemedia.in" target="_blank">http://text.theuniquemedia.in</a>
        with the same login credentials as this app
    </p>
  </div>
</div>

